<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="about.html">About</a></li>
	        		<li><a href="/Sonia_Zhang_CV.pdf">CV</a></li>
	        		<li><a href="/blog.html">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:zhans249@newschool.edu">email me</a></li>
	        		<li><a href="https://soniayhzhang.github.io">soniayhzhang.github.io</a></li>
				</ul>
			</footer>
		</body>
	</html>
